@use "../../../scss/abstract/" as *;

.main-section {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    .inside-section {
        width: 80%;
        height: 70%;
        margin: 0 auto;
        // border: 2px solid red;
        padding: 20px;
        border-radius: 30px;
        display: flex;
        align-items: "center";
        justify-content: center;
        flex-direction: column;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        @include xsBreakPoint {
            width: 100%;
        }
        .questions {
            font-size: 1.3rem;
            @include xsBreakPoint {
                font-size: 1.6rem !important;
            }
            @include smBreakPoint {
                font-size: 2rem !important;
            }
            @include mdBreakPoint {
                font-size: 2.5rem !important;
            }
        }
    }
    .buttons {
        width: 30%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        border: none;
        outline: none;
        background-color: #003060;
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
        font-weight: bold;
        border-radius: 10px;
        margin: 0 auto;
        @include xsBreakPoint {
            width: 100%;
        }
        @include smBreakPoint {
            width: 80%;
        }
        @include mdBreakPoint {
            width: 60%;
        }
    }
    .buttons:hover {
        background-color: lightgray;
        cursor: pointer;
        color: black;
    }
    .restart {
        width: 30%;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
        border: none;
        outline: none;
        background-color: #003060;
        color: white;
        font-size: 1.3rem;
        cursor: pointer;
        font-weight: bold;
        border-radius: 10px;
        margin: 0 auto;
    }
    .restart:hover {
        background-color: orangered;
    }
    .questions {
        font-size: 3rem !important;
    }
    .submit {
        width: 50%;
        padding: 8px;
        border-radius: 10px;
        border: none;
        outline: none;
        background-color: green;
        color: white;
        font-size: 1.1rem;
        font-weight: bold;
        cursor: pointer;
    }
    .modal-body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
